.selectPlan {
  width: 100%;
  height: 100%;
}

.planForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.planContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  border-radius: 10px;
  background-color: var(--colorMagnolia);
  height: 50px;
}

.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 40px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nextButton {
  text-transform: capitalize;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  transition: color 300ms ease-out, opacity 300ms ease-out;
}

.nextButton {
  color: var(--colorWhite);
  justify-self: end;
  background-color: var(--colorMarineBlue);
  &:hover {
    opacity: 0.8;
  }
}
@media (min-width: 600px) {
  .planContainer {
    flex-direction: row;
    // align-items: flex-start;
    // justify-content: space-between;
    gap: 20px;
  }
}
