.addOns {
  width: 100%;
  height: 100%;
}

.planForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; //!
  width: 100%;
  height: 100%;
}
.checkboxesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nextButton {
  text-transform: capitalize;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  transition: color 300ms ease-out, opacity 300ms ease-out;
}

.nextButton {
  color: var(--colorWhite);
  justify-self: end;
  background-color: var(--colorMarineBlue);
  &:hover {
    opacity: 0.8;
  }
}
