.app {
  min-width: 100vw;
  min-height: 100dvh;
  background-color: var(--colorMagnolia);
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 900px) {
  .app {
    padding: 10px;
    align-items: center;
    justify-content: center;
  }
}
